//Abstracto (operaciones)   

/* variables */
$color-primary: orange;
$color-containers: #FFD298;
$color-body: white;
$section-color: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);

/* operaciones */
$color-mobile: (orange + yellow / 7);
$font-mobile: 15px + 5px;
$redondo:  1 * 200px;

/* mixins */
@mixin redondear() {
    border-radius: $redondo;
}

@mixin bordesSolidos($pixeles,$color) {
    border: $pixeles solid $color;
}