body {
    background: $color-body; 
}

.navbar {
    @include bordesSolidos(1px,black);
    
    .botonStyle {
        @include redondear;
    }

    .imagenLogo {
        width: 120%; 
        height: 100%;
        @include redondear;
        cursor: pointer;
        background-color: $color-containers;
        display: flex;
        justify-content: center;
    }

    .titulo {
        font-family: 'Josefin Sans', sans-serif;
        color: #000000;
        margin-left: 5px;                        
        font-size: 30px;  
        font-style: Light 300;
        text-shadow: 2px 2px $color-primary;
        cursor: pointer;
        animation: salto 2s 1 ease-in;
    }

    .botonMenuMobile {
        color: $color-primary;
        border: gray 2px outset;
    }
}

main {
    .tituloBienvenida {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 45px;
        color: black;
        text-shadow: 3px 2px $color-primary;
    }

    .imagenCarousel {
        border: 1px solid black;
        max-height: 39rem;
    }    

    h2 {
        font-size: 25px;
        font-family: 'Josefin Sans', sans-serif;
        color: black;
        text-shadow: 1px 1px $color-primary;
    }

    p  {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 18px;
    }

    .tituloTienda {
        text-decoration: underline;
    }

    .colorDeBoton {
        background-color: orange;
    }

    .textosDiseño1 {
        background-color: #FFD298;
        border-radius: 10px;
    }

    .textosDiseño2 {
        background-color: white;
        border-radius: 10px;
    }
}

footer {
    .footerStyle {
        background-color: $color-containers;
        @include bordesSolidos(0.5px,black);
    }

    .tituloFooter {
        font-family: 'Poppins', sans-serif;
        color: #000000;                        
        font-size: 20px;  
        font-style: Light 300;
        text-shadow: 2px 2px $color-primary;
        cursor: pointer;
    }

    .iconoMail {
        color: black;
        background-color: $color-primary;   
    }

    .footerLogo {
        width: 55px; 
        height: 55%;
        border-radius: 100%;
        cursor: pointer;
    }

    .titulosFormularios {
        font-family: 'Poppins', sans-serif;
        color: #000000;                         
        text-shadow: 1px 1px $color-primary;
        cursor: pointer;
    }

    .row {
        --bs-gutter-x: 0rem !important;
    }
}