//Media Queries     

//Pantallas hasta
@media (max-width: 768px) {
    .navbar {
        .tituloBienvenida {
            font-size: 35px;
        }

        //Navbar Items - botones 
        .nav-item {
            background-color: $color-mobile;
            font-size: 15px;
            padding: 0px !important;
        }

        //Tienda página 
        .iconoTienda {
            display: none;
        }    
    }

    main {
        h2 {
            font-size: 25px !important;
            text-align: center;
            margin-bottom: 15px;
        }

        article {
            text-align: justify !important;
        }

        p {
            font-size: $font-mobile !important;
            text-align: justify;
        }
    
        table {
            font-size: 12px;
        }
    }
}

//Pantallas a partir de 
@media (min-width: 768px) {
    //Ocultar icono de tienda 
    .nav-item:nth-child(5) {
        display: none;
    }    
}


//tablets 
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    
    .redesSociales {
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }

}

/* ----------- iPhone 4 and 4S ----------- */
@media only screen 
  and (min-device-width: 480px) 
  and (max-device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .redesSociales {
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }
}

/* ----------- Celulares Samsung ----------- */
@media screen 
  and (device-width: 640px) 
  and (device-height: 320px) 
  and (-webkit-device-pixel-ratio: 2) {

    .redesSociales {
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }
}

/* ----------- Google Pixel ----------- */
@media screen 
  and (device-width: 640px) 
  and (device-height: 360px) 
  and (-webkit-device-pixel-ratio: 3) {

    .redesSociales {
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }

}




