@media (max-width: 768px) {
    .navbar {
        .tituloBienvenida {
            font-size: 35px;
        }

        .nav-item {
            background-color: $color-mobile;
            font-size: 15px;
            padding: 0px !important;
        }

        .iconoTienda {
            display: none;
        }    
    }

    main {
        h2 {
            font-size: 25px;
            text-align: center;
            margin-bottom: 15px;
        }

        article {
            text-align: justify;
        }

        p {
            font-size: $font-mobile;
            text-align: justify;
            margin: 1px;
        }
    
        table {
            font-size: 12px;
        }

        iframe {
            display: block; 
            margin: auto;
            width: 300px; 
            height: 200px;
        }
    }
}

@media (min-width: 768px) {
    .nav-item:nth-child(5) {
        display: none;
    }    
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    
    .redesSociales {
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }

}

@media only screen 
  and (min-device-width: 480px) 
  and (max-device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .redesSociales {
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }
}

@media screen 
  and (device-width: 640px) 
  and (device-height: 320px) 
  and (-webkit-device-pixel-ratio: 2) {

    .redesSociales {
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }
}

@media screen 
  and (device-width: 640px) 
  and (device-height: 360px) 
  and (-webkit-device-pixel-ratio: 3) {

    .redesSociales {
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }

}




